@using Microsoft.Ajax.Utilities
<ul class="nav navbar-nav">
    @if (Request.IsAuthenticated)
    {
        if (User.IsInRole("user"))
        {
            <li>@Html.ActionLink("Home", "Index", "User", new { area = "UserProfile" }, null)</li>
        }
        if (User.IsInRole("admin"))
        {
            <li>@Html.ActionLink("Home", "Index", "Admin", new { area = "AdminProfile" }, null)</li>
        }
    }
    else
    {
        <li>@Html.ActionLink("Home", MVC.Home.Home.Index(), null)</li>
    }
    <li>@Html.ActionLink("About", "About", "Home", new { area = "Home" }, null)</li>
    <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "Home" }, null)</li>

    @if (Request.IsAuthenticated)
    {
        if (User.IsInRole("user"))
        {
            using (Ajax.BeginForm(MVC.UserProfile.User.GetUsers(), new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "form-container" }, new { @class = "navbar-form navbar-left", role = "search" }))
            {
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" id="name" name="name">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            }
        }
    }
</ul>
@if (Request.IsAuthenticated)
{
    <ul class="nav navbar-nav navbar-right">
        @if (User.IsInRole("user"))
        {
            <li>@Html.ActionLink(User.Identity.Name, "Index", "User", new { area = "UserProfile" }, new { id = "registerLink" })</li>
        }
        @if (User.IsInRole("admin"))
        {
            <li>@Html.ActionLink(User.Identity.Name, "Index", "Admin", new { area = "AdminProfile" }, new { id = "registerLink" })</li>
        }
        <li>@Html.ActionLink("Log Out", "LogOut", "Account", new { area = "Account" }, new { id = "registerLink" })</li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", new { area = "Account" }, new { id = "registerLink" })</li>
    </ul>
}