@{
    ViewBag.Title = "Home";
    Layout = "~/Areas/Home/Views/Shared/_Layout.cshtml";

}
<div class="page-header">
    <h1>@Model.FirstName @Model.LastName</h1>
</div>
<p>@Model.AboutUser</p>

<div>@Twitter.Search("usa", "669228317179052033")</div>
<div>@Twitter.FollowButton("CrazySlaver")</div>

